table {
    width: 100%;
}
.mat-row-cus {
    font-size: 9px;
}
.mat-row:hover {
    background-color:#dfeffb;
    font-weight: bold;
}
.mat-column-action {
    width: 5rem;
}
.mat-column-id {
    width: 4rem;
}
