<div class="salom">
    <h1 style="color: blue;">Hush kelibsiz!</h1> 
    <p><span style="color: red;">Bu loyiha hozircha tayyor emas</span>. Loyiha test rejimida ishlayapdi.</p> 
    <p>
        Loyiha bilan tanishib chiqishingiz uchun <span style="color: blue;">user (password: 123456)</span>, 
        <span style="color: blue;">admin (password: 123456)</span> akkauntlardan foydalanishingiz, yoki o'zingiz yangi
        akkaunt ochishingiz mumkin.   
    </p>
    <p>
        Loyiha haqida fikirlaringiz, takliflaringiz bo'lsa <span style="color: blue;">hgafurov@gmail.com</span> elektron pochtaga yboring.
        Sizni fikirlaringiz biz uchun juda muhim va bu loyihani tezroq ishga tushirishga katta yordam beradi.    
    </p>   
</div>