<div style="background-color: rgb(253, 253, 253);">
    <div class="f-container test-title">
        <div class="f-container-u1">
            <div class="f-container-u2">
                <span class="bold-text" style="margin: 10px;">Savollar bilan ishlash</span> 
            </div>
        </div>
        <div *ngIf="mode != 'select'" class="f-link">
            <button mat-stroked-button (click)="editSavol(0)" color="primary">
                 Yangi savol
                 <mat-icon>add_circle</mat-icon>
             </button> 
        </div> 
        <div *ngIf="mode == 'select'" class="f-link">
            <button mat-stroked-button class="f-item1" 
                (click)="toggle()" color="primary" cdkFocusInitial>
                Yashirish
                <mat-icon>navigate_next</mat-icon>
            </button>
        </div>  
    </div>
    <div class="savol-panel">
        <div class="f-container">
            <span class="f-title">Filter</span>
        </div>
        <div class="f-container" style="flex-wrap: wrap;">
            <div class="f-container-u1">
                <div class="f-container" style="flex-wrap: wrap;">
                    <div class="f-item1" style="width: 200px; margin-left: 0.8rem;">
                        <mat-label>Faqat mening</mat-label>
                        <mat-checkbox [(ngModel)]="filterCurrentUserSavols" (change)="onChangeCheckBox($event)">savollarim</mat-checkbox>
                    </div>
                    <mat-form-field class="f-item2" style="height: 60px;" appearance="outline">
                        <mat-label>Fani bo'yicha filter</mat-label>
                        <input matInput type="text" [(ngModel)]="filterFani">
                        <button matSuffix mat-icon-button (click)="loadPage()" >
                          <mat-icon>filter_alt</mat-icon>
                        </button>
                        <button matSuffix mat-icon-button (click)="filterFani=''" >
                            <mat-icon>clear</mat-icon>
                        </button>
                    </mat-form-field>
                    <mat-form-field class="f-item2" style="height: 60px;" appearance="outline">
                        <mat-label>Bo'limi bo'yicha filter</mat-label>
                        <input matInput type="text" [(ngModel)]="filterRazdel">
                        <button matSuffix mat-icon-button (click)="loadPage()">
                          <mat-icon>filter_alt</mat-icon>
                        </button>
                        <button matSuffix mat-icon-button (click)="filterRazdel=''" >
                            <mat-icon>clear</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
            </div>            
        </div>            
    </div>
    <mat-card *ngFor="let savol of savollar | async">
        <mat-card-content>
            <div class="f-container">
                <div class="f-container-u1">
                    <div class="f-container" style="flex-wrap: wrap;">
                        <div class="f-item1">
                            Savol ID: <span style="color: black;">{{savol.id}}</span>
                        </div>
                        <div class="f-item2">
                            Fani: <span style="color: black;">{{savol.fani}}</span>
                        </div>
                        <div class="f-item2" style="width: 300;">
                            Bo'limi: <span style="color: black;">{{savol.razdel}}</span>
                        </div>
                    </div>
                                    
                </div>
                <div *ngIf="mode != 'select'" class="f-link">
                    <button mat-stroked-button (click)="editSavol(savol.id)" color="primary">
                        Tahrir
                        <mat-icon>arrow_forward</mat-icon>
                    </button> 
                </div> 
                <div *ngIf="mode == 'select'" class="f-link">
                    <button (click)="addSavolToTest(savol.id)" mat-stroked-button color="primary">
                        <mat-icon>add_shopping_cart</mat-icon>
                    </button> 
                </div> 
            </div>           
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-content>
            <p>Savol:</p>
            <ng-katex-html [html]="savol.savol | strForKatex "></ng-katex-html>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-content>
            <p>To'g'ri javob:</p>
            <ng-katex-html [html]="savol.tj | strForKatex"></ng-katex-html>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-content>
            <p>Javob 1:</p>
            <ng-katex-html [html]="savol.j1 | strForKatex"></ng-katex-html>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-content>
            <p>Javob 2:</p>
            <ng-katex-html [html]="savol.j2 | strForKatex"></ng-katex-html>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-content *ngIf="savol.j3">
            <p>Javob 3:</p>
            <ng-katex-html [html]="savol.j3 | strForKatex"></ng-katex-html>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-content *ngIf="savol.j4">
            <p>Javob 4:</p>
            <ng-katex-html [html]="savol.j4 | strForKatex"></ng-katex-html>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-content>
            <div class="f-container" style="margin-top: 15px;">
                <div class="f-container-u1">
                    <div class="f-container" style="flex-wrap: wrap;">
                        <div class="f-item2">
                            Statusi: <span style="color: black;">{{savol.activated ? "chop etilgan" : "chop etilmagan"}}</span>
                        </div>
                        <div class="f-item2">
                            Muallifi: <span style="color: black;">{{savol.muallifi}}</span>
                        </div>
                    </div>                                 
                </div>
            </div>           
        </mat-card-content>
    </mat-card>
       
    <mat-paginator [length]="dataSource.savolsCount | async" [pageSize]="5"
                    [pageSizeOptions]="[5, 10, 20]"></mat-paginator>   
</div>

