mat-card {
    margin: 3px;
    border-color: lightgray ;
    border-width: 1px;
    border-style: solid;
}
.f-container {
    border-top: 1px solid lightgray;
    display: flex;
    padding: 8px; 

}
.f-container-u1 {
    flex-basis: 0;
    flex-grow: 1; 
    flex-shrink: 1;     
}
.f-container-u2 {
    display: flex;
    flex-wrap: wrap; 
    align-items: center; 
}
.f-item1 {
    flex-basis: 120px;
    flex-shrink: 1;
    color: darkgray;
}
.f-item2 {
    flex-basis: 200px; 
    flex-shrink: 2;
}
.f-link {
    flex-grow: 0; 
    flex-shrink: 0;
}
.b-container {
    border-top: 1px solid lightgray;
    display: flex;
    padding: 2px; 
    justify-content: flex-end;
}