<mat-card>
    <mat-card-header style="margin-bottom: 5px;">
        <mat-card-title style="font-size: 12pt;">
            Test natijalari haqida qisqacha ma'lumot
        </mat-card-title>
        <div style="flex-basis: 0; flex-grow: 1; flex-shrink: 1; justify-content: flex-end;">
        <div style="display: flex; justify-content: flex-end;">
            <button mat-stroked-button color="primary">
                Batafsil
                <mat-icon>arrow_forward</mat-icon>
            </button> 
        </div>
        </div>         
    </mat-card-header>
    <mat-card-content>
        <div class="f-container">
            <div class="f-container-u1">
                <div class="f-container-u2">
                    <div class="f-item1">Matematika</div>
                    <div class="f-item2">15(300/230)</div>
                </div>
            </div>    
        </div>
        <div class="f-container">
            <div class="f-container-u1">
                <div class="f-container-u2">
                    <div class="f-item1">Fizika</div>
                    <div class="f-item2">20(400/293)</div>
                </div>
            </div>    
        </div>
        <div class="f-container">
            <div class="f-container-u1">
                <div class="f-container-u2">
                    <div class="f-item1">Adabiyot</div>
                    <div class="f-item2">12(240/198)</div>
                </div>
            </div>    
        </div>
        <div class="f-container">
            <div class="f-container-u1">
                <div class="f-container-u2">
                    <div class="f-item1">Tarix</div>
                    <div class="f-item2">30(600/510)</div>
                </div>
            </div>    
        </div>

    </mat-card-content>
</mat-card>
